@use "globals" as g;

h1 {
  font-size: calc(20px + 1vw);
  color: g.$very-dark-blue;
  margin-bottom: 0.5em;

  span:nth-child(1) {
    font-weight: 200;
    display: block;
  }
}

h2 {
  font-size: 18px;
  font-weight: 600;
}

p,
.p {
  font-size: calc(12px + 0.2vw);
  color: g.$very-dark-blue;
}
